@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.wm-inner-screen {
  text-align: center;
  width: 100%;
  max-width: 300px;
  height: 500px;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 1px solid black;
  margin: 20px auto;
}

.heading1 {
  padding-top: 29px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Poppins';

}

.diet-screen {
  text-align: center;
  max-width: 330px;
  height: 577px;
  background-image: url('./main\ .png');
  border-radius: 10px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
}

.arrow {
  color: #ceff45;
  font-size: 29px;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}

.previous {
  color: #ceff45;

}

.gender {
  width: 128px;
  border-radius: 11px;

  top: 133px;

  left: 369px;
  padding-top: 12px;
  padding-bottom: 7px;

  border: 1px solid #ceff45;

}

.timer2 {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  padding-top: 6px;
  top: 7px;
  margin: 0px;
  position: relative;
  font-family: 'Poppins', sans-serif;

}

.heading2 {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  font-weight: 400;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.female {
  color: #ceff45;
  font-size: 35px;

}

.birthday {
  width: 128px;
  border-radius: 11px;
  top: 133px;
  padding-top: 12px;
  border: 1px solid #ceff45;

}

.timer3 {
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  margin: 0px;
  padding-top: 21px;
  font-family: 'Poppins', sans-serif;
}

.heading3 {
  font-size: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.birth {
  color: #ceff45;
  font-size: 30px;
  padding-top: 4px;
}

.cake {
  color: #ceff45;
  font-size: 30px;

}

.height {
  width: 128px;
  border-radius: 11px;
  top: 238px;
  padding-bottom: 7px;
  padding-top: 11px;
  left: 370px;
  border: 1px solid #ceff45;

}

.timer4 {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  top: 42px;
  left: 29px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;

}

.heading4 {
  font-size: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  top: -11px;
  font-family: 'Poppins', sans-serif;
}

.heightmen {
  color: #ceff45;
  font-size: 30px;

  padding-top: 5px;
}

.weight {
  width: 128px;
  border-radius: 11px;
  top: 240px;
  padding-top: 12px;
  left: 504px;
  border: 1px solid #ceff45;

}

.timer5 {
  text-align: center;
  font-size: 13px;
  margin: 0;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;

}

.heading5 {
  font-size: 23px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  margin: 0;

  font-family: 'Poppins', sans-serif;
}

.dumbbell {
  color: #ceff45;
  font-size: 30px;
  padding-left: 37px;

}

.next-des {
  border: 2px solid #ceff45;
  background: none;
  width: 135px;
  font-family: 'Poppins';
  border-radius: 11px;
  word-spacing: 20%;
  color: #ceff45;
  height: 46px;
}

.next-des:hover {
  background-color: #ceff45;
  color: black;
}


.box1 {
  display: flex;
  padding-left: 28px;
  gap: 17px;
  padding-top: 27px;
}

.box2 {
  display: flex;
  gap: 17px;
  padding-top: 24px;
  padding-left: 28px;
}

.next {
  padding-top: 46px;
}

@media only screen and (max-width: 280px) {
  .wm-inner-screen {
    max-width: 100%;
    height: 500px;
  }

}

@media only screen and (max-width: 300px) {
  .wm-inner-screen {
    max-width: 100%;
    height: 100%;
  }
}

/* Modal */
.modal {
  display: none; /* Hide the modal by default */
  position: fixed; /* Position the modal */
  z-index: 1; /* Set the z-index */
  left: 0;
  top: 20%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.modal-content {
  background: linear-gradient(168.26deg, #3E3C3C 43.61%, #000000 91.4%);
border-radius: 0px 80px 0px 30px;
  margin: 0 auto; /* 15% from the top and centered */
  padding: 20px;
  width: 260px; /* Could be more or less, depending on screen size */
  height: 270px;
  position: relative; /* Needed for the animation */
  top: -50px; /* Start off the screen */
  opacity: 0; /* Start with opacity 0 */
  transition: top 0.3s ease, opacity 0.3s ease; /* Add the transition */
  border: 2px solid #ceff45;
}

.modal-content.show {
  top: 0; /* Move to the center of the screen */
  opacity: 1; /* Set opacity to 1 */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.gender_1{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Poppins';
  color: #ffffff;
}

.gender_2{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Poppins';
  color: #ffffff;
}

.modal_male {
  color: #ceff45;
  font-size: 75px;
  font-weight: 600;

}

.select_gender{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}


.save-des {
  border: 2px solid #ceff45;
  background: none;
  width: 135px;
  font-family: 'Poppins';
  border-radius: 11px;
  word-spacing: 20%;
  color: #ceff45;
  height: 46px;
}

.save-des:hover {
  background-color: #ceff45;
  color: black;
}

.save {
  padding-top: 10px;
}