@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.wm-inner-screen {
  text-align: center;
  width: 100%;
  max-width: 300px;
  height: 500px;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 1px solid black;
  margin: 20px auto;
}

.heading1 {
  padding-top: 29px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Poppins';

}

.diet-screen {
  text-align: center;
  max-width: 330px;
  height: 577px;
  background-image: url('./main\ .png');
  border-radius: 10px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 150px auto;
}

.arrow {
  color: #ceff45;
  font-size: 29px;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}

.previous {
  color: #ceff45;

}

.gender {
  width: 128px;
  border-radius: 11px;

  top: 133px;

  left: 369px;
  padding-top: 12px;
  padding-bottom: 7px;

  border: 1px solid #ceff45;

}

.timer2 {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  padding-top: 6px;
  top: 7px;
  margin: 0px;
  position: relative;
  font-family: 'Poppins', sans-serif;

}

.heading2 {
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  font-weight: 400;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.female {
  color: #ceff45;
  font-size: 35px;

}

.birthday {
  width: 128px;
  border-radius: 11px;
  top: 133px;
  padding-top: 12px;
  border: 1px solid #ceff45;

}

.timer3 {
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  margin: 0px;
  padding-top: 21px;
  font-family: 'Poppins', sans-serif;
}

.heading3 {
  font-size: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.birth {
  color: #ceff45;
  font-size: 30px;
  padding-top: 4px;
}

.cake {
  color: #ceff45;
  font-size: 30px;

}

.height {
  width: 128px;
  border-radius: 11px;
  top: 238px;
  padding-bottom: 7px;
  padding-top: 11px;
  left: 370px;
  border: 1px solid #ceff45;

}

.timer4 {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  top: 42px;
  left: 29px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;

}

.heading4 {
  font-size: 21px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  top: -11px;
  font-family: 'Poppins', sans-serif;
}

.heightmen {
  color: #ceff45;
  font-size: 30px;

  padding-top: 5px;
}

.weight {
  width: 128px;
  border-radius: 11px;
  top: 240px;
  padding-top: 12px;
  left: 504px;
  border: 1px solid #ceff45;

}

.timer5 {
  text-align: center;
  font-size: 13px;
  margin: 0;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;

}

.heading5 {
  font-size: 23px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  margin: 0;

  font-family: 'Poppins', sans-serif;
}

.dumbbell {
  color: #ceff45;
  font-size: 30px;
  padding-left: 37px;

}

.next-des {
  border: 2px solid #ceff45;
  background: none;
  width: 135px;
  font-family: 'Poppins';
  border-radius: 11px;
  word-spacing: 20%;
  color: #ceff45;
  height: 46px;
}

.next-des:hover {
  background-color: #ceff45;
  color: black;
}


.box1 {
  display: flex;
  padding-left: 28px;
  gap: 17px;
  padding-top: 27px;
}

.box2 {
  display: flex;
  gap: 17px;
  padding-top: 24px;
  padding-left: 28px;
}

.next {
  padding-top: 46px;
}

@media only screen and (max-width: 280px) {
  .wm-inner-screen {
    max-width: 100%;
    height: 500px;
  }

}

@media only screen and (max-width: 300px) {
  .wm-inner-screen {
    max-width: 100%;
    height: 100%;
  }
}